body {
    background-color: #cddfe4;
    margin: 30pt;
}
#main {
    background-color: #ffffff;    
    border-radius: 10px; /* Opera */
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border: 1px solid #97a5a9; 
    padding: 10pt 10pt;

}
input#searchtext {
    border-radius: 10px; /* Opera */
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border: 1px solid #97a5a9; 
    background-color: #ffffff;
    padding: 1pt 6pt;
    background: -moz-linear-gradient(90deg, #ffffff, #d0d0d0); /* Firefox */
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#d0d0d0), to(#ffffff)); /* Webkit */
}

input#searchsubmit {
    background-color: #e0eaed;
    background: -moz-linear-gradient(-90deg, #f0fafd, #b0babd); /* Firefox */
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#f0fafd), to(#b0babd)); /* Webkit */
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border: 1px solid #97a5a9; 
    margin-left: 5pt;
    padding: 1pt 6pt;
}

#headertext {
    font-family: Tahoma;
    font-size: 9pt;
    text-align: left
    max-width: 80%;
    margin-bottom: 8pt;
}

#search {
    position: absolute;
    top: 8pt;
    right: 30pt;
}

#pictures  {
    margin: 8pt;    
    float: left;
    width: 256px;    
}

th {
    font-family: Tahoma;
    font-size: 11.5pt;
    background-color: #dadbe1;
    padding: 4px 10px;
}

td {
    vertical-align: middle;
    padding: 2pt 5pt;

}

#bottom {
    text-align: right;
}

tr:nth-child(odd) {
   background-color: #ececee;
}

tr:hover {
   background-color: #e1e1e9;
}


table {    
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 9pt;
    text-align: left;
    border: 1px solid #97a5a9; 
    width: 100%;
    left: 0;
    right: 0;
    background-color:#ffffff;
    margin: 15px 0px;    
}
a:link { 
    color: #444488;
    text-decoration:none 
}
a:visited { 
    color: #8888cc;
    text-decoration:none 
}
a:active { 
    color: #884444;
    text-decoration:none 
}
a:hover { 
    text-decoration:underline; 
    color: 0;
}


img {
    border: 0;
}

#footer {
    position: relative;
    font-family: Tahoma;
    font-size: 9pt;
    text-align: left
    width: 100%;
}
#footerleft {
    position: absolute;
    left: 5pt;
    top: 5pt;
} 
#footerright {
    position: absolute;
    right: 5pt;
    top: 5pt;
    text-align:right;
} 